{% extends "base.html.twig" %}

{% block title %}Home page{% endblock %}

{% block content %}
    <div class="container">
        <h1>Home page</h1>

        <ul>
            <li><b>Our students</b></li>
            <li><a href="/students/1">John Doe</a></li>
            <li><a href="/students/2">Jane Doe</a></li>
        </ul>
    </div>
{% endblock %}