{% set active = 'home' %}
{% extends "base.html.twig" %}

{% block title %}Home page{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
        <h1 class="display-4">Home Page</h1>
        <p class="lead">This is a simple home page with minimal design</p>
        <hr class="my-4">
        <p>The purpose of this page is to represent the MVC design pattern (As "view" I use the Twig template engine).</p>
        <a class="btn btn-primary btn-lg" href="/students" role="button">Go to Students Page</a>
        </div>
    </div>
{% endblock %}
