{% extends "base.html.twig" %}

{% block title %}Students page{% endblock %}

{% block content %}
    <div class="container">
        <h1>Students page</h1>
        <ul>
            <li>Id: {{ data.id }}</li>
            <li>First name: {{ data.first_name }}</li>
            <li>Last name: {{ data.last_name }}</li>
        </ul>
    </div>
{% endblock %}